img
{
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}

h1
{

    color:#6495ED;
    position: relative; top: 40%;
}
h2
{
    color:#B22222;
    font-size:3em;
    font-family: American Typewriter, serif	;
    margin:-35px;

}
body
{
    font-weight: bolder;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    background-image: url("../cv2.jpg");
    background-attachment:fixed;
    background-repeat:repeat;
    background-position: center;  
    font-display: justify; 
    line-height: 
}

p.un
{
    line-height: 100px;
    color:#0000FF;
    
   
}
ul 
{
    color:#483D8B;
    width: 40%;
    padding: 40px;
    margin: auto;

}

a
{
    color:red;text-decoration:none
}
a:hover
{
color:green;text-decoration: underline;
}
a:visited
{
    color:grey;
}

